adf-pipelines/PL_get_measurments_support_live/PL_get_measurments_support_live/pipeline/PL_get_measurments.json
{
    "name": "PL_get_measurments",
    "properties": {
        "description": "Pobranie danych pomiarowych dla wszystkich stacji",
        "activities": [
            {
                "name": "Lookup1",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_ADLS_JSON_Station_list",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup1",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup1').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "get_measurrment_data_loop",
                            "description": "Pobranie danych pomiarowych poprzez API REST z GIOS",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "RestSource",
                                    "httpRequestTimeout": "00:01:40",
                                    "requestInterval": "00.00:00:00.010",
                                    "requestMethod": "GET",
                                    "paginationRules": {
                                        "supportRFC5988": "true"
                                    },
                                    "relativeUrl": {
                                        "value": "pjp-api/rest/aqindex/getIndex/@{item().id}",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    },
                                    "fileName": {
                                        "value": "@concat(string(item().id), '_measurement.json')",
                                        "type": "Expression"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_REST_GENERIC_MEASURMENTS",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_ADLS_JSON_Measurements",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "variables": {
            "station_id": {
                "type": "Integer"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-08-26T14:13:49Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}